@model Mundial2022.Entidades.Usuario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UApellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UCorreo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UCorreo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UPuntosTotales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UPuntosTotales)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UCodigo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
