@model Mundial2022.Modelos.UsuarioLogin;

@{
    ViewData["Title"] = "Index";
}

<div>
    <h3>Mis pronósticos</h3>
    <p>@Model.UNombre</p>
    <p>@Model.Id</p>

    <hr />
    <a class="btn btn-primary" asp-controller="Pronosticos" asp-action="Crear" asp-route-id="@Model.Id">Crear pronostico</a>
</div>

<table class="table" name="partidos">
    <thead>
        <tr class="justify-content-around">
            <th>
                Partido
            </th>
            <th>
                Fecha
            </th>
            <th>
                Primer Equipo
            </th>
            <th>
                Segundo Equipo
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var apuesta in Model.ApuestasUsuarios)
        {
@*            if(apuesta.NroPartidoNavigation)*@
            <tr>
                <td class="col-1">
                    <input readonly class="form-control" type="text" name="NroPartido" value="@apuesta.NroPartido">
                </td>

                <td name="fecha" class="col-2">
                    <p>@apuesta.NroPartidoNavigation.Fecha</p>
                </td>

                <td name="primerEquipo" class="col-4 justify-content-md-start">
                    <div class="row mb-3 justify-content-around">
                        <span class="d-none d-md-block">
                            <img src="@apuesta.NroPartidoNavigation.CEquipo1Navigation.UrlBandera"
                             width="40"
                             height="30"
                             alt="Catar" />
                        </span>
                        <p class="col-5 flex-row">@apuesta.NroPartidoNavigation.CEquipo1Navigation.ENombre</p>
                        <input asp-for="@apuesta.AResultadoE1" name="QGolesE1" class="form-control col-2" readonly/>
                    </div>
                </td>

                <td name="segundoEquipo" class="col-4 justify-content-md-start">
                    <div class="row mb-3 justify-content-around">
                        <span class="d-none d-md-block">
                            <img src="@apuesta.NroPartidoNavigation.CEquipo2Navigation.UrlBandera"
                             width="40"
                             height="30"
                             alt="Ecuador" />
                        </span>
                        <p class="col-5 flex-row">@apuesta.NroPartidoNavigation.CEquipo2Navigation.ENombre</p>
                        <input asp-for="@apuesta.AResultadoE2" name="QGolesE2" class="form-control col-2" readonly />
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
