@model IEnumerable<Mundial2022.Entidades.Campeonato>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NCampeonato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QPartidos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NCampeonato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QPartidos)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CCampeonato">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CCampeonato">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CCampeonato">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
